<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MinCPUPlayers" value="9"/>
		<add key="MaxCPUPlayers" value="14"/>
		<add key="MinTickets" value="1"/>
		<add key="MaxTickets" value="10"/>
		<add key="Balance" value="10.00"/>
		<add key="TicketCost" value="1.00"/>
	</appSettings>
</configuration>